body {
  background: #ffffff;
  color: #333333  ;
  margin-top: 5rem;
}

h1, h2, h3, h4, h5, h6 {
  color: #444444;
}

ul {
  margin: 0;
}

.site-header .navbar-nav .nav-link {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link:hover {
  padding-right: 10px;
  padding-left: 10px;
  text-decoration: none;
}

.site-header .navbar-nav .nav-link.active {
  padding-right: 10px;
  padding-left: 10px;
  background-color: #0080FF;
  border-radius: 4px;

}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

.article-title {
  color: #444444;
}

a.article-title:hover {
  color: #2e32b9;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
  margin-top: 1px;
}

.article-img {
  height: 60px;
  width: 60px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: #1324bd;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2rem;
}



#site{
  font-weight: bold;
  font-size: 25px;
}