{% extends "blog/base.html" %}
{% block title %} About {% endblock %}
    {% block content %}
    <div class="content-section">
        <h1 class="text-center">About</h1>
        <p class="article-title text-center">
            This is chatBook ;
        </p>
        <div class="article-content">
            My name is Priyanshu. 
            I am an Post Graduate studying Master Of Computer Application at 
            Galgotias University, Greater Noida. I am interested in Software Development with a major interest in web apps and web development. Checkout out my projects at Github.
            Currently i have no industrial experiance but i am looking forward to it. I have decent knowledge of frontend using python and backend using django. I also like gaming and my game name is Gamechanger and also like watching  movies.              
        </div>
        
       
    </div>
    {% endblock content %}
